GOOGLE_API_KEY=

ADK_UI_PORT=8080

KEYCLOAK_PORT=8081
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=mcp-2lo
KEYCLOAK_ISSUER=http://demo-keycloak:8081/realms/mcp-2lo
KEYCLOAK_JWKS_URI=http://demo-keycloak:8081/realms/mcp-2lo/protocol/openid-connect/certs
KEYCLOAK_CLIENT_ADK_ID=adk
KEYCLOAK_CLIENT_ADK_SECRET=adk-secret

###############################################################################
# Scenario level env vars                                                     #
###############################################################################

SCENARIO_0_MODEL_VERSION=gemini-3.1-flash-lite
SCENARIO_0_FOLDER_DIRECTORY_PATH=../mcp-directory/
SCENARIO_0_MCP_SERVER_FILESYSTEM_VERSION=2026.7.10

SCENARIO_1_MODEL_VERSION=gemini-3.1-flash-lite
SCENARIO_1_GOOGLE_MAPS_URL=https://mapstools.googleapis.com/mcp
SCENARIO_1_GOOGLE_MAPS_API_KEY=
SCENARIO_1_SUPABASE_URL=https://mcp.supabase.com/mcp?project_ref=supabase-project-id
SCENARIO_1_SUPABASE_TOKEN=
SCENARIO_1_MCP_SERVER_FILESYSTEM_VERSION=2026.7.10
SCENARIO_1_MIGRATIONS_DIRECTORY_PATH=../supabase/migrations/

SCENARIO_2_MODEL_VERSION=gemini-3.1-flash-lite
SCENARIO_2_MCP_SERVER_EXCHANGE_RATE_URL=http://mcp-server-exchange-rate:8091/mcp
SCENARIO_2_MCP_SERVER_QUICKCHART_URL=http://mcp-server-quickchart:8092/mcp
SCENARIO_2_KEYCLOAK_CLIENT_CUSTOM_MCP_EXCHANGE_RATE_ID=custom-mcp-exchange-rate
SCENARIO_2_KEYCLOAK_CLIENT_CUSTOM_MCP_QUICKCHART_ID=custom-mcp-quickchart
SCENARIO_2_KEYCLOAK_SCOPE_EXCHANGE_RATE=exchange-rate:read
SCENARIO_2_KEYCLOAK_SCOPE_QUICKCHART=quickchart:write
# MCP Server env vars
SCENARIO_2_MCP_SERVER_EXCHANGE_RATE_HOST=0.0.0.0
SCENARIO_2_MCP_SERVER_EXCHANGE_RATE_PORT=8091
SCENARIO_2_MCP_SERVER_QUICKCHART_HOST=0.0.0.0
SCENARIO_2_MCP_SERVER_QUICKCHART_PORT=8092

SCENARIO_3_KEYCLOAK_CLIENT_MCP_TOOLBOX_ID=mcp-toolbox
SCENARIO_3_MCP_TOOLBOX_PORT=8093
# MCP Toolbox server env vars
SCENARIO_3_MCP_TOOLBOX_UI_PORT=8082
SCENARIO_3_MCP_TOOLBOX_DATABASE_PORT=5432
SCENARIO_3_MCP_TOOLBOX_DATABASE_USER=postgres
SCENARIO_3_MCP_TOOLBOX_DATABASE_PASSWORD=password
SCENARIO_3_MCP_TOOLBOX_DATABASE_NAME=mcp-toolbox-db
SCENARIO_3_MCP_TOOLBOX_DATABASE_HOST=demo-mcp-toolbox-database

SCENARIO_X_MODEL_VERSION=gemini-3.1-flash-lite
SCENARIO_X_WEB_SERVER_PORT=8090
SCENARIO_X_CHROME_DEBUGGING_PORT=9222
SCENARIO_X_CHROME_DEBUGGING_ADDR=chrome.localhost
SCENARIO_X_MCP_SERVER_CHROMEDEVTOOLS_VERSION=1.7.0
