[submodule "scenarios/X. MCP Sandwich - WebMCP and ChromeDevTools MCP/google-web-26-demos"]
	path = scenarios/X. MCP Sandwich - WebMCP and ChromeDevTools MCP/google-web-26-demos
	url = git@github.com:Weiyuan-Lane/google-web-26-demos.git
