.env

adk-ui/node_modules/*
!adk-ui/node_modules/.keep

scenarios/0. Simple MCP client and server setup/mcp-directory/*
!scenarios/0. Simple MCP client and server setup/mcp-directory/.keep

scenarios/**/__pycache__/
scenarios/**/local-env/
scenarios/**/.adk/
scenarios/**/node_modules/

keycloak/.data/*
!keycloak/.data/.keep

scenarios/3. MCP Toolbox for databases - custom MCP server/mcp-toolbox-database-local-cache/*

**/.DS_Store


