.env

adk-ui/node_modules/*
!adk-ui/node_modules/.keep

scenarios/0. Simple MCP client and server setup/mcp-directory/*
!scenarios/0. Simple MCP client and server setup/mcp-directory/.keep

scenarios/*/__pycache__/
scenarios/*/.adk/
